@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1673607893048') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shop:before {
  content: "\e676";
}

.icon-shop1:before {
  content: "\e7ce";
}

.icon-music:before {
  content: "\e612";
}

.icon-Music:before {
  content: "\e6b7";
}

.icon-shop2:before {
  content: "\e6d8";
}

.icon-ic_music:before {
  content: "\e6bf";
}

